@import "tailwindcss";

.mon{
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@media (max-width: 640px) {
  .mon {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 24px !important;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.hed {
  background: url('/path-to-image.png'); /* Замените на реальный путь к логотипу */
  background-size: cover;
}
.diagonal-gradient {
  background: linear-gradient(45deg, #f3ec78, #af4261);
}

.animate-breathe-up-down {
  animation: breathe-up-down 4s ease-in-out infinite;
}

.animate-breathe-diagonal-ul-dr {
  animation: breathe-diagonal-ul-dr 6s ease-in-out infinite;
}

.animate-breathe-diagonal-ur-dl {
  animation: breathe-diagonal-ur-dl 5s ease-in-out infinite;
}

@keyframes breathe-up-down {
  0%,
  100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

@keyframes breathe-diagonal-ul-dr {
  0%,
  100% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(-10px, 10px);
  }
}

@keyframes breathe-diagonal-ur-dl {
  0%,
  100% {
      transform: translate(0, 0);
  }
  50% {
      transform: translate(10px, 10px);
  }
}